<!DOCTYPE html>
<html>
<head>
  <title>Pampicture</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<section id="wrapper">
  <header id="page_header">
    
    <nav id="user_nav">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <ul>
        <li><%= link_to (image_tag("cart_icon.png") + " Shopping Cart (#)"), "#" %></li>
        <% if current_user %>
          <li><%= link_to "#{current_user.email}", '#' %></li>
          <li><%= link_to "Log out", log_out_path %></li>
        <% else %>
          <li><%= link_to "Log In", log_in_path %></li>
          <li><%= link_to "Sign up", sign_up_path %></li>
        <% end %>
      </ul>
    </nav>
 
    <nav id="main_nav">
      <%= link_to (image_tag("Pampicture_logo.png")), root_path %>
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact Us", '#' %></li>
      </ul>
    </nav>
    
  </header>
  
  <section id="main">
    <%= yield %>
  </section>
  
  <footer id="page_footer">
    
    <article id="social_media">
      <nav id="social_nav">
        <p>follow us</p>
        <ul>
          <li><a href="#" onclick="return false;"><img src="/assets/facebook_icon.png" /></a></li>
          <li><a href="#" onclick="return false;"><img src="/assets/twitter_icon.png" /></a></li>
          <li><a href="#" onclick="return false;"><img src="/assets/blogger_icon.png" /></a></li>
          <li><a href="#" onclick="return false;"><img src="/assets/sharethis_icon.png" /></a></li>
        </ul>
      </nav>
    <p>COPYRIGHT &copy; 2012 PAMPICTURE&trade;</p>
    </article>
    
    
  </footer>
  
</section>

</body>
</html>
