<section class="product_partial">

  <p id="notice"><%= notice %></p>

  <section class="left">
    <%= link_to image_tag(product.image, :width => "140px"), product %>
    <p><%= link_to product.name, product %></p>
  </section>
  
  <section class="right">
    <p><%= number_to_currency product.price, :unit => "&dollar;" %></p>
    <%= link_to "Add to Cart", "#" %>
  </section>
  
</section>